%tr{class: "promotion_line"}
  %td
    = detail.text_field(:qty, class: 'text_input')
  %td
    = detail.text_field(:value, class: 'text_input')
  %td
    %a.btn.btn-default{class: "remove_tier"}  Remove